<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">

<head>
    <title>Dx.Dasha's Arts</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- FontAwesome CSS -->

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'drawings/css/style.css' %}">
</head>
<body>


<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Dx.Dasha's Arts</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>   
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home_page' %}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about_page' %}">Обо мне</a>
          </li>
        </ul>
        {% block order_form_content %}
        {% endblock %}
    </div>
</nav>

<div class="outer-container">
    <div class="container portfolio-page mt-4">
        {% block maincontent %}
        {% endblock %}
    </div><!-- .container -->
</div><!-- .outer-container -->


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>