{% extends 'base.html' %}

{% block order_form_content %}
    <form class="form-inline my-2 my-lg-0" action="{% url 'makeanorder_page' %}">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Заказать Рисунок</button>
    </form>
{% endblock %}

{% block maincontent %}
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Спасибо за ваш заказ!</h1>
            <p class="lead">Мы свяжемся с вами в скором времени. Нам приятно рабоать с вами.</p>
            <p class="lead">
                <a href="{% url 'home_page' %}" class="btn btn-lg btn-outline-dark">Главная</a>
            </p>
        </main>
    </div>
{% endblock %}